<html>
  <body>
    <div class="card">
      <div class="card-body">

        <!-- Page Wrapper -->
        <div id="wrapper">

          <!-- Sidebar -->
          <!-- End of Sidebar -->

          <!-- Content Wrapper -->
          <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

              <!-- Topbar -->
              <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
                </button>


                <!-- Topbar Search -->
                <form class="input-group p-3 w-50  align-items-center">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Introduzca la localidad a buscar"
                      aria-describedby="button-addon2" #query>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                        (click)="funcion_general(query.value)" onclick="
                        function eliminarLoading(){
                          loading = document.getElementById('eliminar');
                          padre = loading.parentNode;
                          padre.removeChild(loading);
                        }
                        while(m2Esc=0){
                          setTimeout(eliminarLoading,0);
                        }

                      ">Realizar búsqueda</button>
                    </div>
                  </div>
                </form>
                <div class='clearfix' id='eliminar'><div class='spinner-border float-right text-primary' role='status'><span class='sr-only'></span></div></div>
              </nav>
              <!-- End of Topbar -->

              <!-- Begin Page Content -->
              <div class="container-fluid mt-5">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                  <h1 class="h3 mb-0 text-gray-800">Cuadro de Busqueda</h1>
                </div>

                <!-- Content Row -->
                <div class="row">

                  <!-- Earnings (Monthly) Card Example -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                              Nº Viviendas en Alquiler</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ numVivAlq }}</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Earnings (Monthly) Card Example -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              Nº Viviendas en Venta</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{numVivVent}}</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Earnings (Monthly) Card Example -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Precio medio Viviendas
                            </div>
                            <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                  <p class="text-center">{{ medio }} </p>
                                  <p class="text-center fw-bold">{{ medioEsc }}</p>
                                </div>
                              </div>

                            </div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Pending Requests Card Example -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                              Media €/Metro Cuadrado</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                              <p class="text-center">{{ m2 }}</p>
                              <p class="text-center fw-bold">{{ m2Esc }}</p>
                            </div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Content Row -->

                <div class="row mt-5">

                  <!-- Area Chart -->
                  <div class="col-xl-7 col-lg-7">
                    <div class="card shadow mb-4">
                      <!-- Card Header - Dropdown -->
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Análisis de Sentimiento de los Últimos 100 Tweets</h6>
                      </div>
                      <!-- Card Body -->
                      <div class="card-body">
                        <div class="chart-area pt-4 pb-5">
                          <canvas id="myAreaChart"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Pie Chart -->
                  <div class="col-xl-5 col-lg-5">
                    <div class="card shadow mb-4">
                      <!-- Card Header - Dropdown -->
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Sentimiento de Odio de las Noticias</h6>
                      </div>
                      <!-- Card Body -->
                      <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                          <canvas id="myPieChart"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                          <span class="mr-2">
                            <p class="text-center">{{ resultado }}</p>
                            <p class="text-center fw-bold">{{ resultadoEsc }}</p>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row d-flex mt-5 justify-content-center align-items-center">

                  <!-- Pie Chart -->
                  <div class="col-xl-12 col-lg-7">
                    <div class="card shadow mb-4 d-flex justify-content-between">
                      <!-- Card Header - Dropdown -->
                      <div class="card-header py-3 d-flex flex-row  justify-content-between align-items-center ">
                        <h6 class="m-0 font-weight-bold text-primary mb-2">Listado de Restaurantes de la Zona</h6>
                      </div>
                      <!-- Card Body -->
                      <div class="row">
                        <div class="col-lg-6 mb-1 mt-1 m-0.5 mb-2" *ngFor="let nombre of nombresRestaurantes; let i=index;">
                          <div class="card bg-primary text-white shadow">
                            <div class="card-body">
                              {{nombre}}
                              <div class="text-white-50 small">Puntuación: {{valoracionesRestaurantes[i]}}‎</div>
                              <div class="text-white-50 small">Tags: {{etiquetasRestaurantes[i]}}‎</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
          </div>
          <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
      </div>

    </div>
</body>
</html>
