<section class="vh-max bg-image"
style="background-image: url('../../assets/images/sky.jpg');">
<div class="row d-flex justify-content-center mt-3">
    <!-- Le cramos para centrar el resto haciendo de este un flex-->
    <div class="input-group p-3 w-50 input-group row row-cols-2 row-cols-md-3 g-2 my-1 m-5 align-items-center mt-5">
      <input type="text" class="form-control" placeholder="Introduzca la localidad a buscar"
        aria-describedby="button-addon2" #texto>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"
          (click)="funcion_general(texto.value)">Realizar búsqueda</button>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4 mb-5 justify-content-center ">
      <div class="card card border-rgba(245, 245, 245, .1); text-center justify-content-center" style="width: 42rem; height: 55rem; background-color: rgba(245, 245, 245, 0.7);">
        <div class="justify-content-center align-items-center opacity-100">
          <h5 class="card-title text-center mt-5"><ins>Información inmobiliaria del barrio</ins></h5>
          <div class="row row-cols-1 row-cols-md-2 g-4 mt-1 m-5 ">
            <div class="col ">
              <div class="card justify-content-center align-items-center " style="width: 15rem; height: 11rem; background-color: rgba(245, 245, 245, .1);">
                <div class="card-body">
                  <td class="fw-bold">
                    Nº de viviendas en alquiler
                  </td>
                  <br>
                  <img src="../../assets/images/houseRent.png" class="justify-content-center align-items-center"
                    width="50" height="50" alt="Rent House">
                  <br>
                  <br>
                  <p class="card-text text-center fw-bold">{{ numVivAlq }}</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card justify-content-center align-items-center" style="width: 15rem; height: 11rem; background-color: rgba(245, 245, 245, .1);">
                <div class="card-body">
                  <td class="fw-bold">
                    Nº de viviendas en venta
                  </td>
                  <br>
                  <img src="../../assets/images/deal.png" class="justify-content-center align-items-center" width="50"
                    height="50" alt="Rent House">

                  <br>
                  <br>
                  <p class="card-text text-center fw-bold">{{ numVivVent }}</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card justify-content-center align-items-center" style="width: 15rem; height: 11rem; background-color: rgba(245, 245, 245, .1);">
                <div class="card-body">
                  <td class="fw-bold">
                    Precio €/m2
                  </td>
                  <br>
                  <img src="../../assets/images/buy.png" class="justify-content-center align-items-center" width="50"
                    height="50" alt="Rent House">
                  <br>
                  <p class="text-center">{{ m2 }}</p>
                  <p class="text-center fw-bold">{{ m2Esc }}</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card justify-content-center align-items-center" style="width: 15rem; height: 11rem; background-color: rgba(245, 245, 245, .1);">
                <div class="card-body">
                  <td class="fw-bold">
                    Precio medio de las viviendas
                  </td>
                  <img src="../../assets/images/house.png" class="justify-content-center" width="50" height="50"
                    alt="Rent House">
                  <p class="text-center">{{ medio }}</p>
                  <p class="text-center fw-bold">{{ medioEsc }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="mt-5">
          <h5 class="card-title text-center"><ins>Análisis de sentimiento de las noticias del barrio</ins></h5>
          <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center align-items-center">
            <div class="col">
              <div class="card justify-content-center m-5" style="width: 15rem; height: 11rem; background-color: rgba(245, 245, 245, .1);">
                <div class="card-body">
                  <td class="fw-bold rounded">
                    <ins>Valor de delito de odio del barrio</ins>
                  </td>
                  <p class="text-center">{{ resultado }}</p>
                  <p class="text-center fw-bold">{{ resultadoEsc }}</p>
                  <img src="../../assets/images/feliz.png" class="justify-content-center" width="50" height="50">
                  <img src="../../assets/images/triste.png" class="justify-content-center" width="50" height="50">
                  <img src="../../assets/images/experience.png" class="justify-content-center" width="50" height="50">
                  <img src="../../assets/images/neutral (1).png" class="justify-content-center" width="50" height="50">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-4 mb-5 justify-content-center">
    <div class="col d-flex justify-content-center mt-1">
      <div class="card card border-rgba(245, 245, 245, .1); text-center mb-5" style="width: 47rem; background-color: rgba(245, 245, 245, .7);">
        <div class="card-body" style="background-color: rgba(245, 245, 245, .1);">
          <h5 class="card-title">Listado de Restaurantes</h5>
          <br>
          <ul class="list-group list-group-flush" style="background-color:rgba(245, 245, 245, .2) ;">
            <li class="list-group-item" style="background-color:rgba(245, 245, 245, .1) ;">
              <div class="row">
                <div class="col-md-6">
                  <h5>Restaurante 1</h5>
                  <p><b>Nombre:</b> {{ nombresRestaurantes[0] }}</p>
                  <p><b>Puntuación:</b> {{ valoracionesRestaurantes[0] }}</p>
                  <p><b>Etiquetas:</b> {{ etiquetasRestaurantes[0] }}</p>
                </div>
                <div class="col-md-6">
                  <h5>Restaurante 2</h5>
                  <p><b>Nombre:</b> {{ nombresRestaurantes[1] }}</p>
                  <p><b>Puntuación:</b> {{ valoracionesRestaurantes[1] }}</p>
                  <p><b>Etiquetas:</b> {{ etiquetasRestaurantes[1] }}</p>
                </div>
              </div>
            </li>
            <li class="list-group-item" style="background-color:rgba(245, 245, 245, .1) ;">
              <div class="row">
                <div class="col-md-6">
                  <h5>Restaurante 3</h5>
                  <p><b>Nombre:</b> {{ nombresRestaurantes[2] }}</p>
                  <p><b>Puntuación:</b> {{ valoracionesRestaurantes[2] }}</p>
                  <p><b>Etiquetas:</b> {{ etiquetasRestaurantes[2] }}</p>
                </div>
                <div class="col-md-6">
                  <h5>Restaurante 4</h5>
                  <p><b>Nombre:</b> {{ nombresRestaurantes[3] }}</p>
                  <p><b>Puntuación:</b> {{ valoracionesRestaurantes[3] }}</p>
                  <p><b>Etiquetas:</b> {{ etiquetasRestaurantes[3] }}</p>
                </div>
              </div>
            </li>
            <li class="list-group-item" style="background-color:rgba(245, 245, 245, .1) ;">
              <div class="row">
                <div class="col-md-6">
                  <h5>Restaurante 5</h5>
                  <p><b>Nombre:</b> {{ nombresRestaurantes[4] }}</p>
                  <p><b>Puntuación:</b> {{ valoracionesRestaurantes[4] }}</p>
                  <p><b>Etiquetas:</b> {{ etiquetasRestaurantes[4] }}</p>
                </div>
                <div class="col-md-6">
                  <h5>Restaurante 6</h5>
                  <p><b>Nombre:</b> {{ nombresRestaurantes[5] }}</p>
                  <p><b>Puntuación:</b> {{ valoracionesRestaurantes[5] }}</p>
                  <p><b>Etiquetas:</b> {{ etiquetasRestaurantes[5] }}</p>
                </div>
              </div>
            </li>
            <li class="list-group-item" style="background-color:rgba(245, 245, 245, .1) ;">
              <div class="row">
                <div class="col-md-6">
                  <h5>Restaurante 7</h5>
                  <p><b>Nombre:</b> {{ nombresRestaurantes[6] }}</p>
                  <p><b>Puntuación:</b> {{ valoracionesRestaurantes[6] }}</p>
                  <p><b>Etiquetas:</b> {{ etiquetasRestaurantes[6] }}</p>
                </div>
                <div class="col-md-6">
                  <h5>Restaurante 8</h5>
                  <p><b>Nombre:</b> {{ nombresRestaurantes[7] }}</p>
                  <p><b>Puntuación:</b> {{ valoracionesRestaurantes[7] }}</p>
                  <p><b>Etiquetas:</b> {{ etiquetasRestaurantes[7] }}</p>
                </div>
              </div>
            </li>
            <li class="list-group-item" style="background-color:rgba(245, 245, 245, .1) ;">
              <div class="row">
                <div class="col-md-6">
                  <h5>Restaurante 9</h5>
                  <p><b>Nombre:</b> {{ nombresRestaurantes[8] }}</p>
                  <p><b>Puntuación:</b> {{ valoracionesRestaurantes[8] }}</p>
                  <p><b>Etiquetas:</b> {{ etiquetasRestaurantes[8] }}</p>
                </div>
                <div class="col-md-6">
                  <h5>Restaurante 10</h5>
                  <p><b>Nombre:</b> {{ nombresRestaurantes[9] }}</p>
                  <p><b>Puntuación:</b> {{ valoracionesRestaurantes[9] }}</p>
                  <p><b>Etiquetas:</b> {{ etiquetasRestaurantes[9] }}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </div>






</section>
