<!-- Image and text -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid" >
    <a class="navbar-brand link_principal_sin_decoracion" href="/index">
      <img src="../assets/images/spotscout_logo.png" width="30" height="30" class="d-inline-block align-top logo-image" alt="">
        SpotScout
    </a>
    <ul class="nav justify-content-end">
      <li class="nav-item m-1">
        <a class="btn btn_azul_primario" routerLink="/index" routerLinkActive="active-link" href="/index" role="button">HOME</a>
      </li>
      <li class="nav-item m-1">
        <a class="btn btn_azul_primario" routerLink="/sentimiento" routerLinkActive="active-link" href="/sentimiento" role="button">ANALISIS</a>
      </li>
    </ul>
  </div>
</nav>

