<div class="row d-flex justify-content-center">
  <!-- Le cramos para centrar el resto haciendo de este un flex-->
  <div class="input-group p-3 w-50 ">
    <input type="text" class="form-control" placeholder="Introduzca el texto a analizar"
      aria-describedby="button-addon2" #texto>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2"
        (click)="funcion_general(texto.value)">Realizar análisis</button>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Resultados delito odio:
    </div>
    <div class="d-grid justify-content-center">
      <div class="text-center m-2 mt-3"> <img src="{{ imagen }}" #ImagenResultado width="100" height="100" alt=""></div>
      <p class="text-center">{{ resultado }}</p>
      <p class="text-center fw-bold">Resultado odio: {{ resultadoEsc }}</p>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Resultados precio:
    </div>
    <div class="d-grid justify-content-center">
      <p class="text-center">{{ m2 }}</p>
      <p class="text-center fw-bold">Resultado m2: {{ m2Esc }}</p>
      <p class="text-center">{{ medio }}</p>
      <p class="text-center fw-bold">Resultado medio: {{ medioEsc }}</p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center m-5">
  <div class="card infoAnalisisSentimiento border card_border_grey" style="width: 50rem;">
    <div class="card-body">
      <h5 class="card-title">¿Qué es el Análisis de Sentimiento?</h5>
      <p class="card-text ">El análisis de sentimiento es determinar las emociones que se esconden detrás de un conjunto
        de palabras. Consiste en un método automático mediante el que se obtienen datos relevantes del cliente (gustos,
        valoraciones, actos de consumo).</p>
    </div>
  </div>
</div>
