<div class="jumbotron m-5">
  <h1 class="display-4 fw-bold text-primary">Bienvenidos a SpotScout!</h1>
  <p class="lead">Bienvenido a la versión Beta de SpotScout. Esta aplicación se basa en el análisis de sentimiento en
    posts de periódicos y redes sociales para ofrecerte de forma visualizar el sentimiento general de un lugar para que
    encuentres el mejor sitio para vivir.</p>
  <hr class="my-4 ">
  <p class="fw-bold fst-italic">En esta versión, la funcionalidad se limita al análisis de sentimiento con un texto de
    entrada.</p>
  <!--<a class="btn btn_azul_primario" href="/sentimiento" role="button">Ver más</a>!-->
</div>

<div class="d-flex justify-content-center m-5">
  <div class="card infoAnalisisSentimiento border border-secondary" style="width: 50rem;">
    <div class="card-body">
      <h5 class="card-title">¿Qué es el Análisis de Sentimiento?</h5>
      <p class="card-text ">El análisis de sentimiento es determinar las emociones que se esconden detrás de un conjunto
        de palabras. Consiste en un método automático mediante el que se obtienen datos relevantes del cliente (gustos,
        valoraciones, actos de consumo).</p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center p-4">
  <div class="card sobreNosotros border border-secondary " style="width: 50rem;">
    <div class="card-body">
      <h5 class="card-title">¿Quiénes somos?</h5>
      <div class="card text-center border-info m-3">
        <div class="card-body">
          <h4 class="card-title">Diego Martín Campos</h4>
          <p class="card-text text-justify text-start">Tras realizar las asignaturas de IA y PC1, he desarrollado un
            gran interés por
            la aplicación de Python y modelos de aprendizaje automático para tratar de desarrollar un aplicación que
            no solo cumpla con lo que se pide en el aula, sino que sea un producto viable fuera de ella. </p>

        </div>
      </div>

      <div class="card text-center border-info m-3">
        <div class="card-body">
          <h4 class="card-title">Mario Carrasco Pérez</h4>
          <p class="card-text text-justify text-start">Las asignaturas de Proyecto de Computación I y de Inteligencia
            artificial me
            crearon la curiosidad de una rama
            que no habíamos visto en la carrera aún, el mundo de que nuestro equipo, sea capaz de aprender en base a una
            serie de datos para posteriormente generar una predicción con un gran porcentaje de acierto. Este mundo de
            la Inteligencia
            Artificial es un mundo tan curioso como amplio. Cursar esta asignatura de Proyecto II lo veo como una
            ampliación de mis conocimientos
            sobre el tema y una gran oportunidad para plasmar estos en el proyecto de la asignatura. </p>

        </div>
      </div>

      <div class="card text-center border-info m-3">
        <div class="card-body">
          <h4 class="card-title">Victor Pérez Pérez</h4>
          <p class="card-text text-justify text-start">Una vez vistas las asignaturas de Inteligencia Artificial y
            Proyecto de
            Computación 1, mi interés por los modelos
            de aprendizaje automático y poder realizarlo en el lenguaje de Python ha aumentado considerablemente.
            Además, me gustaría poder utilizar estos conocimientos para trabajos futuros, fuera de la universidad.<br>
            Cursando Ingeniería Informática.<br>
            Cursado PC1 y cursando PC2 y PC3. </p>

        </div>
      </div>

      <div class="card text-center border-info m-3">
        <div class="card-body">
          <h4 class="card-title ">Nicolás Pérez Beltrán</h4>
          <p class="card-text text-justify text-start">Cursé las asignaturas de IA y PC1. En estas aprendí a programar
            en Python, lo que me
            sirvió para poder desarrollar una aplicación en este lenguaje de programación. Me resultó muy interesante el
            lenguaje, los modelos de aprendizaje automático, etc… Ahora en este nuevo cuatrimestre estoy cursando las
            asignaturas de PC2 y PC3, en esta primera asignatura, a lo que aspiro es a mejorar el proyecto que hicimos
            en PC1 y sentirme orgulloso de este, añadiendo alguna funcionalidad extra que no se pida durante el curso.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
