<section class="vh-max bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img3.webp');">
  <div class="mask d-flex align-items-center h-max gradient-custom-3 mt-5">
    <div class="container h-100 mt-5 ">
      <div class="row d-flex justify-content-center align-items-center h-max">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6 m-2">
          <div class="card mb-5" style="border-radius: 20px; background-color:rgba(245, 245, 245, .8) ;">
            <div class="card-body p-4 fw-bold">
              <h2 class="text-uppercase text-center mb-4">Registrese</h2>

              <form>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Nombre</label>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" #nombre/>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Correo Electrónico</label>
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg" #correo/>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg">Contraseña</label>
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" #contrasena1/>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cdg">Repita su contraseña</label>
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg" #contrasena2/>
                  <p><br></p>
                </div>


                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" #checkbox (change)="fieldsChange($event)"/>
                  <label class="form-check-label" for="form2Example3g">
                    Acepto todos los <a href="#!" class="text-body"><u>Términos de uso</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <!--<a class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" routerLink="/login"routerLinkActive="active-link" href="/login" role="button" click="crear_usuario(nombre, correo, contrasena)">Registrar</a>-->
                  <button class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="button" id="button-addon2" (click)="crear_usuario(nombre.value, correo.value, contrasena1.value, contrasena2.value, checkbox.value)">Realizar búsqueda</button>
                </div>

                <p class="text-center text-muted mt-5 m-0">Ya estoy registrado? <a href="#!" class="fw-bold text-body"
                    routerLink="/login" routerLinkActive="active-link" href="/login" role="button"><u>Login</u></a></p>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
