/* You can add global styles to this file, and also import other style files */


/*Variables*/
$gris_claro: #EEEEEE;
$azul_principal: #1C658C;
$beige: #D8D2CB;

/*Reglas propias*/
.logo-image{
left:10px;
right:10px;
}
.texto-presentacion{
  color: $azul_principal;
}

//Footer
.gris-background{
background-color: $gris_claro;
}

//Navbar
.navbar{
  background-color: $azul_principal;

}

.navbar-brand{
  background-color: $azul_principal;
  justify-content: left;
  margin-left: 50px;
}

#navbarNav{
  justify-content: right;
  margin-right: 50px;
}

.nav-link{
  color: white;
  &:hover{  //Regla anidada
    color: yellow;
  }
}
//Tarjetas
.card_border_grey{
  border-color: $gris_claro;
}
.card_border_blue{
  border-color: $azul_principal;
}
//Botones
.btn_azul_primario{
  background-color: $azul_principal;
  color:white;
}

.link_principal_sin_decoracion{
  color: white;
  &:hover{  //Regla anidada
    color: black;
  }
}

.btn-outline-secondary{
  background-color: $azul_principal;
  color: white;
  &:hover{  //Regla anidada
    background-color: white;
    color: $azul_principal;
    font-weight: 500;
  }
}

//Los botones cuando nos encontramos en esa página de la web
.active-link{
  border-width: 1px;
  border-color: white;
}
.active-link-admin{
  font-weight: bold;
  text-decoration: underline;
}

//Padding al body del index para que se vea toda la página

html{
  //padding-bottom: 20px;
  height: 100%;
}
.cardBienvenidos{
  margin-top: 10vh;
  background-color: rgba(245, 245, 245, .8);
  width: 290vh;
  height: 16vh;
  border-radius: 10px;
}
.textocardBienvenidos{
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-left: 3vh;
  margin-right: 3vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.bg-imageIndex{
  background-image: url("/assets/images/fondo (4).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  block-size: auto;
}
.tarjetaInput {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgba(245, 245, 245, .4);
  height: 7.5vh;
  display: flex;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 1vh;
  padding-bottom: 1vh;

}

.outer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width:80vw;
  padding-top: 13vh;
}
.filasTarjetas{
  display: flex;
  justify-content: center;
  height: 60vh;
  width:168vh;


}
.todoelIndex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 200vh;

}

/* On mouse-over, add a deeper shadow */
.tarjetaInput:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

/* Add some padding inside the card container */
.content {
  width: 105%;
}
.bg-image{
  background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img7.webp');
  background-attachment: fixed;
}
.todoElRegistro{
  height: 90vh;
}
.navbar-padding-top{
  padding-top: 63px;
}
//Admin
.tabla_bbdd{
width: 100%;margin:0 10 0 10;margin-right: 10px; padding:10px;  height:80vh; overflow: auto; opacity: 0.9;
}
.tabla_bbdd_busqueda{
  width: 95%;margin:0 10 0 10;margin-right: 10px; padding:10px;  height:65vh; overflow: auto;opacity: 0.9;
}

//login
.todoElLogin{
  height: 95vh;

}





//PRUEBA
