/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.logo-image{
left:10px;
right:10px;
}
.bg-light .navbar{
  background-color: lightgreen
}
.secondary-background{
background-color: #D8D2CB;
}
